@model LobbyServer.Models.HomeIndexVM
@{
    ViewBag.Title = "Home Page";
}

<div itemscope itemtype="http://schema.org/SoftwareApplication">
    <div class="box">
        <h1 itemprop="name">@_.ApplicationName</h1>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="box sm-mh300">
                <h2>ようこそ</h2>
                <div class="alert alert-info">
                    人狼ゲームオンライン２は現在オープンβテスト中です。
                </div>
                <table>
                    <tr>
                        <td><div class="icon" style="background-position: -288px -24px"></div></td>
                        <td><div class="icon" style="background-position: -216px 0px"></div></td>
                        <td><div class="icon" style="background-position: -264px -168px"></div></td>
                        <td><div class="icon" style="background-position: -240px 0px"></div></td>
                        <td><div class="icon" style="background-position: -192px -120px"></div></td>
                        <td><div class="icon" style="background-position: -24px -48px"></div></td>
                        <td><div class="icon" style="background-position: -264px 0px"></div></td>
                        <td>VS</td>
                        <td><div class="icon" style="background-position: -264px -288px"></div></td>
                        <td><div class="icon" style="background-position: -192px -288px"></div></td>
                        <td><div class="icon" style="background-position: -216px -288px"></div></td>
                        <td><div class="icon" style="background-position: -240px -288px"></div></td>
                        <td>VS</td>
                        <td><div class="icon" style="background-position: -168px -240px"></div></td>
                        <td><div class="icon" style="background-position: -24px -240px"></div></td>
                    </tr>
                </table>
                <p itemprop="description">
                    人狼ゲームオンライン２はブラウザで遊べる無料の人狼ゲームです。
                    Google+のアカウントさえあれば、登録不要でお友達やネット上のプレイヤーとも手軽にゲームを開始できます。
                    人狼が初めての方も是非参加してみてください。
                </p>
                <p>おすすめプレイ時間：午後8時～午後12時ごろ</p>
                <p>
                    <a href="@Url.RouteUrl(new { controller="Game", action="Index" })" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-play"></span> 遊んでみる</a>
                    <a href="@Url.RouteUrl(new { controller = "Home", action = "About" })" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-question-sign"></span> 遊び方</a>
                </p>
                <p><a href="https://twitter.com/jinrogame" target="_blank">メンテナンスやアップデートのお知らせは公式Twitterアカウントをご覧ください。</a></p>
                <p>
                    <a href="http://jnro.net/" target="_blank">こちらから人狼ゲームオンライン１も遊べます。</a>
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="box sm-mh300">
                @Html.Partial("/Views/Game/StatisticsPartial.cshtml", Model.Statistics)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="box sm-mh300">
                @Html.Partial("/Views/Game/IndexPartial.cshtml", Model.Servers)
            </div>
        </div>

        <div class="col-sm-4">
            <div class="box sm-mh300">
                @Html.Partial("/Views/PlayLog/IndexPartial.cshtml", Model.PlayLogs)
            </div>
        </div>

        <div class="col-sm-4">
            <div class="box sm-mh300">
                <h2>その他</h2>
                <p><a href="https://twitter.com/jinrogame" target="_blank">公式Twitterアカウント</a></p>
                <p>
                    メンテナンス時間：午前5時～午前8時
                    (前日中に公式Twitterアカウントでアナウンスがない場合、メンテナンスは行われませんので平常通りに遊べます。)
                </p>
            </div>
        </div>
    </div>
</div>
