@model IEnumerable<ApiScheme.Scheme.GameServerStatus>
@{
    ViewBag.Title = "Home Page";
}

<div itemscope itemtype="http://schema.org/SoftwareApplication">
    <div class="box">
        <h1 itemprop="name">@_.ApplicationName</h1>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="box sm-mh300">
                <h2>ようこそ</h2>
                <div class="alert alert-info">人狼ゲームオンライン２は現在オープンβテスト中です。</div>
                <table>
                    <tr>
                        <td><div class="icon" style="background-position: -288px -24px"></div></td>
                        <td><div class="icon" style="background-position: -216px 0px"></div></td>
                        <td><div class="icon" style="background-position: -264px -168px"></div></td>
                        <td><div class="icon" style="background-position: -240px 0px"></div></td>
                        <td>VS</td>
                        <td><div class="icon" style="background-position: -264px -288px"></div></td>
                        <td><div class="icon" style="background-position: -192px -288px"></div></td>
                    </tr>
                </table>
                <p itemprop="description">
                    人狼ゲームオンライン２はブラウザで遊べる無料の人狼ゲームです。
                    Google+のアカウントさえあれば、登録不要でお友達やネット上のプレイヤーとも手軽にゲームを開始できます。
                    人狼が初めての方も是非参加してみてください。
                </p>
                <p><a href="@Url.RouteUrl(new { controller="Game", action="Index" })" class="btn btn-primary"><span class="glyphicon glyphicon-play"></span> 遊んでみる</a></p>
                <p><a href="http://jnro.net/" target="_blank">こちらから人狼ゲームオンライン１も遊べます。</a></p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="box sm-mh300">
                @Html.Action("Statistics", "Game")
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="box sm-mh300">
                @Html.Action("Index", new { controller = "Game", partial = true })
            </div>
        </div>

        <div class="col-sm-4">
            <div class="box sm-mh300">
                <h2>記録</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>村の名前</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>みんなで楽しく人狼ゲーム</td>
                            <td>閲覧 DL</td>
                        </tr>
                        <tr>
                            <td>みんなで楽しく人狼ゲーム</td>
                            <td>閲覧 DL</td>
                        </tr>
                        <tr>
                            <td>みんなで楽しく人狼ゲーム</td>
                            <td>閲覧 DL</td>
                        </tr>
                    </tbody>
                </table>
                <p><a class="btn btn-default" href="@Url.RouteUrl(new {controller="PlayLog", action="Index"})">もっと見る &raquo;</a></p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="box sm-mh300">
                <h2>その他</h2>
                <p><a href="https://twitter.com/jinrogame" target="_blank">公式Twitterアカウント</a></p>
            </div>
        </div>
    </div>
</div>
