@model List<ApiScheme.Scheme.GameServerStatus>

<div class="box">
    <h2>サーバ一覧</h2>
    <table class="table">
        <thead>
            <tr>
                <th>状態</th>
                <th>名称</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @for (var n = 0; n < Model.Count; n++)
            {
                var s = Model[n];
                <tr>
                    <td>
                        @if (s.players >= 0.66 * s.maxPlayers)
                        {
                            <span class="label label-danger">満員 (<span>@s.players</span>人)</span>
                        }
                        else if (n == 0)
                        {
                            <span class="label label-success">推奨 (<span>@s.players</span>人)</span>
                        }
                        else if (s.players >= 0.33 * s.maxPlayers)
                        {
                            <span class="label label-warning">混雑 (<span>@s.players</span>人)</span>
                        }
                        else
                        {
                            <span class="label label-info">快適 (<span>@s.players</span>人)</span>
                        }
                    </td>
                    <td><a href="@Url.RouteUrl(new { controller = "Game", action = "Play", host = s.host, port = s.port })">@s.name</a></td>
                    <td><a href="@Url.RouteUrl(new { controller = "Game", action = "Play", host = s.host, port = s.port })" class="label label-primary">参加する</a></td>
                </tr>
            }
        </tbody>
    </table>
    <p>
        村の一覧と募集チャットがサーバごとに分かれています。
        キャラクターと戦績は全てのサーバで共有されます。
    </p>
</div>
