@model LobbyServer.Models.GamePlayVM
@{
    ViewBag.Title = "Index";
}



<!-- Not Supported -->
<div>
    <!--[if lt IE 9]>
    <div class="alert alert-danger">
        お使いのブラウザは人狼ゲームオンライン２に対応していません。
        <a href="https://www.google.com/intl/ja/chrome/browser/" target="_blank">Google Chrome</a>
        か<a href="http://www.mozilla.jp/firefox/" target="_blank">Firefox</a>
        をインストールしてお使いいただくと解決する可能性があります。
    </div>
    <![endif]-->

    <noscript>
        <div class="alert alert-danger">
            人狼ゲームオンライン２をプレイするにはJavaScriptを有効にしてください。
        </div>
    </noscript>
</div>



<div id="Game" style="display: none;">

    <!-- ErrorModal -->
    <div class="modal fade" id="ErrorModal" tabindex="-1" role="dialog" aria-labelledby="ErrorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 data-bind="text: lastError().title" class="modal-title" id="ErrorModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <p data-bind="text: lastError().body"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Character Modal -->
    <div class="modal fade" id="CharacterModal" tabindex="-1" role="dialog" aria-labelledby="CharacterModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 data-bind="" class="modal-title" id="CharacterModalLabel">あなたの戦績</h4>
                </div>
                <div data-bind="if: characterItems() !== undefined" class="modal-body">
                    <div data-bind="with: characterItems()">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>勝</th>
                                    <th>敗</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>村人</td>
                                    <td data-bind="text: WonAsCitizen"></td>
                                    <td data-bind="text: LostAsCitizen"></td>
                                </tr>
                                <tr>
                                    <td>人狼</td>
                                    <td data-bind="text: WonAsWerewolf"></td>
                                    <td data-bind="text: LostAsWerewolf"></td>
                                </tr>
                                <tr>
                                    <td>狐</td>
                                    <td data-bind="text: WonAsFox"></td>
                                    <td data-bind="text: LostAsFox"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- RoomModal -->
    <div class="modal fade" id="RoomModal" tabindex="-1" role="dialog" aria-labelledby="RoomModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 data-bind="" class="modal-title" id="RoomModalLabel">村の詳細</h4>
                </div>
                <div data-bind="if: roomGoingToJoin() !== undefined" class="modal-body">
                    <h4 data-bind="with: roomGoingToJoin()">
                        #<span data-bind="text: roomId"></span>
                        &nbsp;<span data-bind="text: name"></span>
                    </h4>
                    <div data-bind="visible: roomGoingToJoin().requiresPassword" class="form-group">
                        <label for="JoinRoomPassword">パスワード</label>
                        <input type="text" data-bind="value: roomPasswordGoingToJoin" class="form-control" id="RoomConfigurationName" placeholder="パスワード">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click: JoinRoom">参加する</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ReportModal -->
    <div class="modal fade" id="ReportModal" tabindex="-1" role="dialog" aria-labelledby="ReportModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 data-bind="" class="modal-title" id="ReportModalLabel">通報</h4>
                </div>
                <div class="modal-body">
                    <p>
                        不正行為を報告します。発生した不正行為を備考へ記入してください。
                        まずは話し合いによる解決を図り、通報は本当にやむを得ない場合にのみ行ってください。
                        対応状況について個別の回答はいたしかねますのであらかじめご了承ください。
                    </p>
                    <div class="form-group">
                        <label for="ReportModalNote">備考</label>
                        <textarea data-bind="value: roomReportNote" id="ReportModalNote" class="form-control" placeholder="○○さんが味方の狼を暴露した"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" data-bind="click: roomReport">報告する</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Disconnected Scene -->
    <div data-bind="visible: state() == State.Disconnected" class="box">
        <h3>サーバに接続していません</h3>
        <p data-bind="text: disconnectionReason"></p>
        <a href="@Url.RouteUrl(new { controller = "Game", action = "Index" })" class="btn btn-primary">サーバ一覧へ戻る</a>
        <button type="button" data-bind="click: Connect" id="ConnectButton" class="btn btn-default">再接続を試みる</button>
        <p>サーバの接続情報は日によって変わることがあります。一覧に戻っていただくと手ごろなサーバがあるかもしれません。</p>
        <p>全く接続できない場合は、最新のブラウザをお使いいただいたり、ウィルス対策ソフトのリアルタイムスキャンを一時的に無効にしていただくことで改善することがあります。</p>
    </div>

    <!-- Characters Scene -->
    <div data-bind="visible: state() == State.Characters" class="box">
        <h3 data-bind="text: Text('CharactersList')"></h3>
        <div class="alert alert-info">ゲーム画面は自動で更新されますのでブラウザの更新ボタンを押さないようにお気を付けください。</div>
        <button type="button" data-bind="click: function(){state(State.CreateCharacter)}" class="btn btn-primary">作成する</button>
        <button type="button" data-bind="click: function(){state(State.Supporters)}" class="btn btn-default">支援する</button>
        <a href="@Url.RouteUrl(new { controller = "Game", action = "Index" })" class="btn btn-default">サーバ一覧へ戻る</a>
        <p data-bind="visible: characters().length === 0">キャラクターがありません。作成してください。</p>
        <table data-bind="visible: characters().length > 0" class="table">
            <thead>
                <tr>
                    <th>キャラクター名</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: characters">
                <tr>
                    <td data-bind="text: name"></td>
                    <td>
                        <button type="button"
                                data-bind="text: $root.Text('Select'), click: function(){ $root.hub.server.selectCharacter(name); }"
                                class="btn btn-primary btn-xs"></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>キャラクターは3人まで作成できます。</p>
        <p>ユーザー保護のためキャラクターの削除はできません。</p>
        <p>ゲームの動作が重い場合は、ウィルス対策ソフトのリアルタイムスキャンを一時的に無効にしていただくことで改善することがあります。</p>
    </div>

    <!-- Character Creation Scene -->
    <div data-bind="visible: state() == State.CreateCharacter" class="box">
        <h3>キャラクター作成</h3>
        <ul data-bind="foreach: validationErrors.CharacterCreation">
            <li data-bind="text: $data"></li>
        </ul>
        <div data-bind="with: createCharacterData">
            <div class="form-group">
                <label for="CreateCharacterName">キャラクター名</label>
                <input type="text" data-bind="value: name" class="form-control" id="CreateCharacterName">
            </div>
        </div>
        <button type="button" data-bind="click: CreateCharacter" class="btn btn-primary">作成する</button>
        <button type="button" data-bind="click: BackToCharacters" class="btn btn-default">戻る</button>
    </div>

    <!-- Supporters Scene -->
    <div data-bind="visible: state() == State.Supporters" class="box">
        <button type="button" data-bind="click: BackToCharacters" class="btn btn-default">キャラクター選択に戻る</button>

        <h3>ご支援のお願い</h3>

        <p>
            現在人狼ゲームオンライン2の運営費は広告収入と有志による援助によってまかなわれていますが、今後もよりよいサービスを提供させていただくにはより多くのご支援を必要としています。
            人狼ゲームオンライン2は皆さんにゲームを提供するためにいつも数台のサーバをレンタルして稼働させています。
            また、国内外の企業と契約してサービスの向上にも努めています。
            もしこのゲームが気に入ったら、これからもインフラを維持し皆さんが楽しく遊べる環境を作れるようにどうか私たちを支えてください。
        </p>

        <h3>あなたのご支援でできること</h3>
        <p>いただいたご支援は、例えば次のようなことに役立てられます。</p>
        <table class="table">
            <tr>
                <th>500円</th>
                <td>1ヶ月の間、サーバの収容人数を20人程度多く保てます。</td>
            </tr>
            <tr>
                <th>2,000円</th>
                <td>1ヶ月の間、1台の機器で発生するラグなどのトラブルを大きく軽減できます。</td>
            </tr>
            <tr>
                <th>10,000円</th>
                <td>1ヶ月の間、副管理人が不正対応などにあたる時間を毎日20分程度延長できます。</td>
            </tr>
        </table>

        <h3>目標</h3>
        <p>
            優先度の高いものから順に、それぞれ以下の費用をねん出したいと考えています。
            目標を達成できた際には、公式Twitterアカウントでご報告をさせていただきます。
            また、もしご支援をいただいた金額が目標を上回った場合は、副管理人の対応時間延長と各種のアップデート、インフラの増強、ゲームの宣伝に充てさせていただきます。
        </p>
        <table class="table">
            <tr>
                <th>#</th>
                <th>目標</th>
                <th>金額</th>
                <th>内容</th>
            </tr>
            <tr>
                <td>1</td>
                <td>維持管理</td>
                <td>5万円/月</td>
                <td>
                    サーバや村の記録の保管など、毎月かかっている経費に充てさせていただきます。
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>SMS認証</td>
                <td>20万円(1回)</td>
                <td>
                    SMSによる携帯電話番号認証をプレイヤー全員に実施します。<br />
                    これができれば、悪いプレイヤーが皆さんに近づくことをより効率的に予防できます。
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>副管理人</td>
                <td>3万円/月</td>
                <td>
                    人の多い時間帯(20:00～24:00ごろ)を中心に、毎日1時間ほど副管理人(アルバイトを想定)が不正対応などにあたります。
                </td>
            </tr>
        </table>

        <h3>毎月支援する</h3>
        <div data-bind="foreach: cpGoodsSubscription">
            <button data-bind="text: price, click: Purchase" class="btn btn-primary"></button>
        </div>

        <h3>1回支援する</h3>
        <div data-bind="foreach: cpGoodsOneTime">
            <button data-bind="text: price, click: Purchase" class="btn btn-primary"></button>
        </div>

        <h3>銀行振込</h3>
        <div>
            <p>
                銀行振込によるご支援は下記までお願いいたします。<br />
                シティバンク銀行 インターネット支店
                普通7485798 ナイトウミチタロウ
            </p>
        </div>

        <br />
        <p>上のボタンから人狼ゲームオンライン2のサービス向上にご協力ください。</p>
        <p><strong>人狼ゲームオンライン2は無料のブラウザゲームです。支援しなくてもプレイできます。(!)</strong></p>
        <p>特典や個別の御礼はございません。あらかじめご了承ください。</p>
        <p>毎月のご支援はいつでも<a href="http://wallet.google.com" target="_blank">Google Wallet</a>から停止できます。</p>
        <p>もし、お子様が誤ってご両親様のクレジットカードで決済してしまった場合は、消費者センターを通じて運営者の連絡先まで返金をご請求ください。</p>
        <p>末筆ながら、いつも様々な形でのご理解とご協力をいただきありがとうございます。</p>

        <button type="button" data-bind="click: BackToCharacters" class="btn btn-default">キャラクター選択に戻る</button>
    </div>

    <!-- Lobby Scene -->
    <div data-bind="visible: state() == State.Rooms">
        <div class="row">
            <div class="col-sm-6">
                <div class="box">
                    <h3>
                        <a name="Rooms"></a>
                        <span data-bind="text: $root.Text('VillagesList')">Rooms</span>
                    </h3>
                    <button type="button" data-bind="text: $root.Text('Create'), click: CreateRoom" class="btn btn-primary"></button>
                    <button type="button" data-bind="click: GetRooms" id="GetRooms" class="btn btn-default">更新</button>
                    <button type="button" data-bind="click: GetCharacterItems" id="GetCharacterItems" class="btn btn-default">戦績</button>
                    <button type="button" data-bind="click: BackToCharacters" class="btn btn-default">戻る</button>
                    <a href="#Chat" class="visible-xs">チャットへ↓</a>
                    <p data-bind="visible: rooms().length == 0">募集中の村はありません。作成してみてください。</p>
                    <table data-bind="visible: rooms().length > 0" class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>村の名前</th>
                                <th>状態</th>
                                <th>人数</th>
                                <th>1日の長さ</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: rooms">
                            <tr data-bind="visible: IsVisible, attr: { class : clRow }">
                                <td data-bind="text: roomId"></td>
                                <td data-bind="text: name"></td>
                                <td data-bind="text: fmState"></td>
                                <td data-bind="text: fmPlayers"></td>
                                <td data-bind="text: interval"></td>
                                <td>
                                    <button type="button" data-bind="click: function(){ $root.OpenRoomModal($data); }" class="btn btn-primary btn-xs">
                                        <span data-bind="visible: requiresPassword" class="glyphicon glyphicon-link"></span>
                                        <span data-bind="text: $root.Text('Join')"></span>
                                    </button>
                                    <button type="button" data-bind="click: function(){ $root.SpectateRoom($data.roomId) }" class="btn btn-primary btn-xs">観戦する</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box">
                    <h3>
                        <a name="Chat"></a>
                        雑談・募集用チャット
                    </h3>
                    <a href="#Rooms" class="visible-xs">村一覧へ↑</a>
                    <div class="input-group">
                        <input type="text" id="LobbyChat" class="form-control" placeholder="ここからメッセージを送信できます" maxlength="50" />
                        <span class="input-group-btn">
                            <button data-bind="click: LobbySend" id="LobbySend" class="btn btn-primary" type="button">送信</button>
                        </span>
                    </div>
                    <ul data-bind="foreach: lobbyMessages" class="messages">
                        <li data-bind="attr: { class: fmClass }">
                            <div class="from">
                                <span data-bind="text: name" class="name"></span>
                                <span data-bind="text: fmCreated" class="time"></span>
                            </div>
                            <div data-bind="text: cpBody" class="body"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <!-- Game Scene -->
    <div data-bind="visible: state() == State.Playing">

        <!-- Loading -->
        <div data-bind="visible: !isRoomLoaded()" class="box">
            <p>読み込み中...</p>
            <div class="progress progress-striped active">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>

        <!-- Configuring -->
        <div data-bind="visible: isRoomLoaded() && roomState() == RoomState.Configuring" class="box">
            <h3>村の設定</h3>
            <ul data-bind="foreach: validationErrors.RoomConfiguration">
                <li data-bind="text: $data"></li>
            </ul>
            <div data-bind="with: roomConfigurationsToSet">
                <div class="form-group">
                    <label for="RoomConfigurationName">村の名前</label>
                    <input type="text" data-bind="value: name" class="form-control" id="RoomConfigurationName" placeholder="村の名前">
                </div>
                <div class="form-group">
                    <label for="RoomConfigurationPassword">パスワード</label>
                    <input type="text" data-bind="value: password" class="form-control" id="RoomConfigurationPassword" placeholder="パスワード">
                </div>
                <div class="form-group">
                    <label for="RoomConfigurationMax">最大人数</label>
                    <input type="number" data-bind="value: max" class="form-control" id="RoomConfigurationMax" placeholder="最大人数">
                </div>
                <div class="form-group">
                    <label for="RoomConfigurationInterval">1日の長さ</label>
                    <input type="number" data-bind="value: interval" class="form-control" id="RoomConfigurationName" placeholder="1日の長さ">
                </div>

                <div class="checkbox">
                    <label>
                        <input data-bind="checked: noFirstDayFortuneTelling" type="checkbox"> 初日占いなし
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input data-bind="checked: noPrivateMessage" type="checkbox"> ささやきなし
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input data-bind="checked: strongShaman" type="checkbox"> 強化霊媒師
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input data-bind="checked: hideCharacterNames" type="checkbox"> 名前非表示
                    </label>
                </div>
                <div class="form-group">
                    <label for="RoomConfigurationInterval">キャラクター名</label>
                    <select data-bind="value: characterNameSet" class="form-control">
                        <option value="0">既定</option>
                        <option value="1">和名</option>
                    </select>
                </div>
            </div>
            <button type="button" data-bind="text: $root.Text('Configure'), click: RoomConfigure" class="btn btn-primary btn-sm"></button>
            <button type="button" data-bind="text: $root.Text('QuitRoom'), click: QuitRoom" class="btn btn-warning btn-sm"></button>
        </div>

        <!-- Matchmaking, Playing, Ending, Ended -->
        <div data-bind="visible: isRoomLoaded() && roomState() != RoomState.Configuring">
            <!-- Top (RoomConfigurations) -->
            <div data-bind="with: roomConfigurations" class="box">
                <h3 data-bind="text: name"></h3>
                <div>
                    <span>最大人数：<span data-bind="text: max"></span></span>
                    <span>1日の長さ(秒)：<span data-bind="text: interval"></span></span>
                    <span>初日占いなし：<span data-bind="text: noFirstDayFortuneTelling"></span></span>
                    <span>ささやきなし：<span data-bind="text: noPrivateMessage"></span></span>
                    <span>強化霊媒師：<span data-bind="text: strongShaman"></span></span>
                    <span>キャラクター名：<span data-bind="text: characterNameSet"></span></span>
                    <span>名前非表示：<span data-bind="text: hideCharacterNames"></span></span>
                </div>
            </div>

            <!-- Top (FactionWon) -->
            <div data-bind="visible: roomState() == RoomState.Ending || roomState() == RoomState.Ended, attr:{'class':clFactionWon}">
                <div data-bind="visible: factionWon() === Faction.None">
                    誰も生き残りませんでした・・・
                </div>
                <div data-bind="visible: factionWon() === Faction.Citizen">
                    村人が人狼の血を根絶することに成功しました。<br />
                    村人の勝利です！
                    <table>
                        <tr>
                            <td><div class="icon" style="background-position: -288px -24px"></div></td>
                            <td><div class="icon" style="background-position: -216px 0px"></div></td>
                            <td><div class="icon" style="background-position: -264px -168px"></div></td>
                            <td><div class="icon" style="background-position: -240px 0px"></div></td>
                            <td><div class="icon" style="background-position: -192px -120px"></div></td>
                            <td><div class="icon" style="background-position: -24px -48px"></div></td>
                            <td><div class="icon" style="background-position: -264px 0px"></div></td>
                        </tr>
                    </table>
                </div>
                <div data-bind="visible: factionWon() === Faction.Werewolf">
                    もはや村人には人狼に抵抗できる力は残っていません。<br />
                    人狼の勝利です！
                    <table>
                        <tr>
                            <td><div class="icon" style="background-position: -264px -288px"></div></td>
                            <td><div class="icon" style="background-position: -192px -288px"></div></td>
                            <td><div class="icon" style="background-position: -216px -288px"></div></td>
                            <td><div class="icon" style="background-position: -240px -288px"></div></td>
                        </tr>
                    </table>
                </div>
                <div data-bind="visible: factionWon() === Faction.Fox">
                    村人と人狼を出し抜き、妖狐がこの村を支配しました。<br />
                    妖狐の勝利です！
                    <table>
                        <tr>
                            <td><div class="icon" style="background-position: -168px -240px"></div></td>
                            <td><div class="icon" style="background-position: -24px -240px"></div></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <!-- Left (Actors) -->
                <div class="col-sm-4">

                    <!-- Alive Actors -->
                    <div data-bind="visible: cpAliveActors().length > 0" class="box AliveActors">
                        <table>
                            <tr><td><div class="icon" style="background-position: 0px -336px"></div></td><td>生存者</td></tr>
                        </table>
                        <ul data-bind="foreach: actors" class="actors clearfix">
                            <li data-bind="visible: !isDead, attr: {class:clItem}">
                                <div class="name" data-bind="text: fmTitleAndName, attr: {style: stName}"></div>
                                <div>
                                    <table>
                                        <tr>
                                            <td data-bind="text: fmGenderAndStar"></td>
                                            <td data-bind="text: fmRole"></td>
                                            <td><div data-bind="attr: {style: cpStyle}" class="icon"></div></td>
                                        </tr>
                                    </table>
                                    <div class="user" data-bind="text: fmUser, attr: {style: stUser}"></div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- Dead Actors -->
                    <div data-bind="visible: cpDeadActors().length > 0" class="box DeadActors">
                        <table>
                            <tr><td><div class="icon" style="background-position: 0px -360px"></div></td><td>犠牲者</td></tr>
                        </table>
                        <ul data-bind="foreach: actors" class="actors clearfix">
                            <li data-bind="visible: isDead, attr: {class:clItem}">
                                <div class="name" data-bind="text: fmTitleAndName, attr: {style: stName}"></div>
                                <div>
                                    <table>
                                        <tr>
                                            <td data-bind="text: fmGenderAndStar"></td>
                                            <td data-bind="text: fmRole"></td>
                                            <td><div data-bind="attr: {style: cpStyle}" class="icon"></div></td>
                                        </tr>
                                    </table>
                                    <div class="user" data-bind="text: fmUser, attr: {style: stUser}"></div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>

                <!-- Right(Commands and Messages) -->
                <div class="col-sm-8">

                    <!-- Commands -->
                    <div class="box">
                        <h4>行動</h4>

                        <!-- Duration -->
                        <p data-bind="visible: roomState() === RoomState.Matchmaking">
                            ルームマスターがゲームを開始するのを待機しています。
                        </p>
                        <p data-bind="visible: (roomState()===RoomState.Matchmaking && duration()>0) || roomState() === RoomState.Playing || roomState() === RoomState.Ending">
                            更新まで：
                            <span data-bind="text: fmDuration"></span>
                        </p>

                        <!-- Spectator Commands -->
                        <div data-bind="visible: cpMyActor() === null">
                            <p>あなたは観戦中です。</p>
                            <button type="button" data-bind="text: $root.Text('QuitRoom'), click: QuitRoom" class="btn btn-warning btn-sm"></button>
                        </div>

                        <!-- Commands -->
                        <div data-bind="visible: cpMyActor() !== null" id="RoomCommands">
                            <!-- About -->
                            <p data-bind="visible: roomState() === RoomState.Ending">ゲームが決着しました。記録が書き出されるまで他の参加者とチャットできます。</p>
                            <p data-bind="visible: roomState() === RoomState.Ended">ゲームが終了しました。待合室へ戻って他の村に参加してみましょう。</p>
                            <div data-bind="visible: roomState() === RoomState.Playing, with: cpMyActor()">
                                <p>あなたは<span data-bind="text: fmGender"></span>の<span data-bind="text: fmRole"></span>です。</p>
                                <p data-bind="text: fmDescription"></p>
                            </div>

                            <p>
                                この村の内訳はあなたを含めて以下のようになっています。
                                <ul data-bind="foreach: rolesInRoom" class="list-inline">
                                    <li data-bind="visible: Amount > 0">
                                        <a data-bind="text: fmName, attr: {'title':fmDescription}"></a>
                                        <span data-bind="text: Amount"></span>
                                    </li>
                                </ul>
                            </p>

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#RC_General" data-toggle="tab">一般</a></li>
                                <li><a href="#RC_Send" data-toggle="tab" data-bind="visible: roomState() !== RoomState.Ended">発言</a></li>
                                <li><a href="#RC_Vote" data-toggle="tab" data-bind="visible: roomState() == RoomState.Playing && IsLocalAlive">投票</a></li>
                                <li><a href="#RC_Master" data-toggle="tab" data-bind="visible: IsLocalRoomMaster">村長</a></li>
                                <li><a href="#RC_StartManual" data-toggle="tab" data-bind="visible: roomState() == RoomState.Matchmaking && IsLocalRoomMaster">配役</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                
                                <!-- General Commands -->
                                <div class="tab-pane active" id="RC_General">
                                    <!-- Start Button (Auto) -->
                                    <button data-bind="visible: roomState() == RoomState.Matchmaking && IsLocalRoomMaster, text: $root.Text('Start'), click: RoomStart"
                                            class="btn btn-primary btn-sm">
                                        Start
                                    </button>
                                    <!-- Quit Button -->
                                    <button type="button" data-bind="text: $root.Text('QuitRoom'), click: QuitRoom" class="btn btn-warning btn-sm"></button>
                                </div>

                                <!-- Vote -->
                                <div class="tab-pane" id="RC_Vote">
                                    <div class="form-group" data-bind="visible: IsExecuteVisible">
                                        <label for="ActorToExecute">処刑する</label>
                                        <select id="ActorToExecute" class="form-control"
                                                data-bind="options:cpAliveActorsExceptMe, optionsText: 'fmTitleAndName', value: actorToExecute, optionsCaption: '選択してください'"></select>
                                    </div>
                                    <div class="form-group" data-bind="visible: IsAttackVisible">
                                        <label for="ActorToAttack">襲撃する</label>
                                        <select id="ActorToAttack" class="form-control"
                                                data-bind="options:cpAliveActorsExceptMe, optionsText: 'fmTitleAndName', value: actorToAttack, optionsCaption: '選択してください'"></select>
                                    </div>
                                    <div class="form-group" data-bind="visible: IsFortuneTellVisible">
                                        <label for="ActorToFortuneTell">占う</label>
                                        <select id="ActorToFortuneTell" class="form-control"
                                                data-bind="options:cpAliveActorsExceptMe, optionsText: 'fmTitleAndName', value: actorToFortuneTell, optionsCaption: '選択してください'"></select>
                                    </div>
                                    <div class="form-group" data-bind="visible: IsGuardVisible">
                                        <label for="ActorToGuard">護衛する</label>
                                        <select id="ActorToGuard" class="form-control"
                                                data-bind="options:cpAliveActorsExceptMe, optionsText: 'fmTitleAndName', value: actorToGuard, optionsCaption: '選択してください'"></select>
                                    </div>
                                </div>

                                <!-- Start (Manual) -->
                                <div class="tab-pane" id="RC_StartManual">
                                    <button data-bind="click: RoomStartManual" class="btn btn-primary btn-sm">この配役で開始する</button>
                                    <div data-bind="foreach: roles">
                                        <div>
                                            <span data-bind="text: name"></span>
                                            <input type="number" data-bind="value: amountToSet" class="form-control" />
                                        </div>
                                    </div>
                                    <button data-bind="click: RoomStartManual" class="btn btn-primary btn-sm">この配役で開始する</button>
                                </div>

                                <!-- Send -->
                                <div class="tab-pane" id="RC_Send">
                                    <div data-bind="visible: roomState() !== RoomState.Ended, attr: { 'class': clSendMessage }" id="RoomSendBox">
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <select data-bind="options:roomSendModes, optionsText: 'name', value: roomSendMode" class="form-control"></select>
                                            </div>
                                            <div class="form-group">
                                                <select data-bind="visible: IsRoomSendToVisible, options:actors, optionsText: 'fmTitleAndName', value: roomSendTo" class="form-control"></select>
                                            </div>
                                        </div>
                                        <!-- Single Line -->
                                        <div data-bind="visible: !roomSendMultipleLines()">
                                            <div class="input-group">
                                                <input type="text" id="RoomChat" class="form-control" />
                                                <span class="input-group-btn">
                                                    <button data-bind="click: RoomSend" id="RoomSend" class="btn btn-primary" type="button">送信する</button>
                                                </span>
                                            </div>
                                            <button type="button" data-bind="click: SwapRoomSendMultipleLines" class="btn btn-default">複数行にする</button>
                                        </div>
                                        <!-- Multiple Lines -->
                                        <div data-bind="visible: roomSendMultipleLines()" class="form-group">
                                            <textarea id="RoomChatMultipleLines" class="form-control"></textarea>
                                            <button data-bind="click: RoomSend" id="RoomSendMultipleLines" class="btn btn-primary" type="button">送信する</button>
                                            <button type="button" data-bind="click: SwapRoomSendMultipleLines" class="btn btn-default">1行にする</button>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- Master Commands -->
                                <div class="tab-pane" id="RC_Master">

                                    <!-- Skip -->
                                    <button data-bind="visible: roomState() === RoomState.Playing || roomState() === RoomState.Ending, click: RoomSkip" class="btn btn-warning">スキップする</button>

                                    <!-- Kick -->
                                    <div class="input-group" data-bind="visible: roomState() === RoomState.Matchmaking || roomState() === RoomState.Playing">
                                        <input type="text" data-bind="value: roomCharacterNameToKick" class="form-control" placeholder="キャラクター名(例：test)" />
                                        <span class="input-group-btn">
                                            <button data-bind="click: RoomKick" class="btn btn-danger">追放する</button>
                                        </span>
                                        <span class="input-group-btn">
                                            <button data-bind="click: RoomBan" class="btn btn-danger">永久追放する</button>
                                        </span>
                                    </div>

                                    <!-- Kill and Revive -->
                                    <div data-bind="visible: roomState() === RoomState.Matchmaking || roomState() === RoomState.Playing">
                                        <div class="input-group">
                                            <select data-bind="options: actors, optionsText: 'fmTitleAndName', value: roomMasterTarget" class="form-control"></select>
                                            <span class="input-group-btn">
                                                <button data-bind="click: RoomKill" class="btn btn-danger">殺害する</button>
                                                <button data-bind="click: RoomRevive" class="btn btn-danger">蘇生する</button>
                                            </span>
                                        </div>
                                        <div class="input-group">
                                            <select data-bind="options: roles, optionsText: 'name', value: roomRoleToSet" class="form-control"></select>
                                            <span class="input-group-btn">
                                                <button data-bind="click: RoomSetRole" class="btn btn-danger">設定する</button>
                                            </span>
                                        </div>
                                    </div>

                                    <!-- SetRole -->

                                    <p>
                                        これらのボタンはルームマスター専用です。
                                        荒らしを除く全てのプレイヤーが楽しく遊ぶために不可欠な場合にのみ使用してください。
                                        特殊村への使用歓迎です。
                                        スキップは全員が投票を終えた場合など、通常のゲームにおいて便宜上必要な場合にのみ使用してください。
                                        むやみに使用すると何らかのペナルティを受ける恐れがありますので、くれぐれもご注意ください。
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Messages -->
                    <div class="box">
                        <h4>村の会話</h4>

                        <!-- Top Marker -->
                        <div id="RoomMessagesTopMarker"></div>

                        <!-- Log -->
                        <ul data-bind="foreach: roomMessages" class="messages">
                            <li data-bind="attr: { class: fmClass }">
                                <div class="from">
                                    <span data-bind="text: cpFrom, attr:{style:stName}" class="name"></span>
                                    <span data-bind="text: cpTo" class="to"></span>
                                    <span data-bind="text: fmCreated" class="time"></span>
                                    <span data-bind="visible: canReport, click: report" class="report"><span class="glyphicon glyphicon-thumbs-down"></span>通報する</span>
                                </div>
                                <div data-bind="foreach: cpBodyRows" class="body">
                                    <div data-bind="text: $data"></div>
                                </div>
                            </li>
                        </ul>

                        <!-- Bottom Marker (to load older) -->
                        <div id="RoomMessagesBottomMarker"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



@section scripts{
    <script src="~/Scripts/linq.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
    @Scripts.Render("~/bundles/signalr")
    <!--<script src="http://localhost:8080/signalr/hubs"></script>-->
    <script src="@(Model.GameServerSignalREndpoint.AbsoluteUri + "/hubs")"></script>
    @Scripts.Render("~/bundles/game")
    <script type="text/javascript">
        $(function () {
            // Gets Pass from Server.
            var culture = '@Culture';
            var pass = '@ViewBag.ValidPassString';
            var topPageUrl = '@Url.Action("Index", "Game")';
            var endpoint = '@Model.GameServerSignalREndpoint.AbsoluteUri';

            // Initializes Game
            if ($.connection.myHub === undefined) {
                // GameServer is gone. Redirects to Home.
                alert('サーバの応答がありませんでした。サーバ一覧へ戻ります。');
                location.href = topPageUrl;
                return;
            }

            $(window).on('beforeunload', function () {
                return 'ページを移動や再読み込みするとゲームから退出します。本当によろしいですか？';
            });
            
            try {
                $.connection.myHub.connection.url = endpoint;
                var model = new window.Apwei.Game.AppModel(culture, pass, $.connection.myHub);
                ko.applyBindings(model, document.getElementById('Game'));
                model.Connect();
            }catch (e){
                //alert(e);
            }
        });
    </script>
    <script src="@System.Configuration.ConfigurationManager.AppSettings["GoogleWalletScriptUrl"]"></script>
    <script>
    //Success handler
    var successHandler = function (purchaseAction) {
        if (window.console != undefined) {
            console.log("Purchase completed successfully.");
        }
    }

    //Failure handler
    var failureHandler = function (purchaseActionError) {
        if (window.console != undefined) {
            console.log("Purchase did not complete.");
        }
    }
    </script>
}