@model LobbyServer.Models.PlayLogIndexVM
@{
    ViewBag.Title = "Index";
}

<div class="box">
    <h2>村の記録</h2>

    <ul class="pager">
        @if (Model.Page > 0)
        {
            <li class="previous"><a href="@Url.RouteUrl(new { page = Model.Page - 1 })">&larr; 新しい</a></li>
        }
        @if (Model.PlayLogs.Count > 0)
        {
            <li class="next"><a href="@Url.RouteUrl(new { page = Model.Page + 1 })">古い &rarr;</a></li>
        }
    </ul>

    <table class="table">
        <thead>
            <tr>
                <th>村の名前</th>
                <th>閲覧</th>
                <th>ダウンロード</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in Model.PlayLogs)
            {
                <tr>
                    <td>@log.roomName</td>
                    <td>@Html.ActionLink("閲覧する", "Details", new { id = log.id }, new { target = "_blank" })</td>
                    <td>@Html.ActionLink(log.fileName, "Download", new { id = log.id }, new { @class = "DownloadLink" })</td>
                </tr>
            }
        </tbody>
    </table>

    <ul class="pager">
        @if (Model.Page > 0)
        {
            <li class="previous"><a href="@Url.RouteUrl(new { page = Model.Page - 1 })">&larr; 新しい</a></li>
        }
        @if (Model.PlayLogs.Count > 0)
        {
            <li class="next"><a href="@Url.RouteUrl(new { page = Model.Page + 1 })">古い &rarr;</a></li>
        }
    </ul>

</div>

@section scripts{
    <script>
        $('.DownloadLink').click(function (e) {
            //e.preventDefault();
            $(this).replaceWith($('<span>').text($(this).text()));
            //$(this).removeAttr('href');
        });
    </script>
}
